@import 'framework/variables';
@import 'framework/mixins';
@import 'framework/grid';
@import 'framework/layout';
@import 'framework/tables';
	
@import 'vendor/normalize.scss';

html {
  font-size: 14px;
  line-height: $gutter-unit;
}

@media screen and (min-width: 320px) {
  html { 
    font-size: calc(14px + 6 * ((100vw - 320px) / (1920 - 320)));
  }
}
@media screen and (min-width: $xx-large) {
  html {
    font-size: 20px;
  }
}
body {
  font-family: azo-sans-web, sans-serif;
}
h1, h2, h3, h4, h5 {
  font-weight: 300;
  line-height: 1.3;
	margin-top: $gutter;
  margin-bottom: 0;
}
h1 { font-size: 1.75rem; }
h2 { font-size: 1.5rem; }
h3 { font-size: 1.25rem; }
h4 { font-size: 1rem; }
h5 { font-size: 1rem; }
p {
	margin-top: $gutter*1.25;
	margin-bottom: $gutter/8;
}
@media screen and (min-width: 1200px) {
  /*	h1 { font-size: 2.5rem }
  	h2 { font-size: 2.0rem }
  	h3 { font-size: 1.5rem }
  	h4 { font-size: 1.25rem }
  	h5 { font-size: 1rem }*/
}
a {
  color: inherit;
}
/* Utils */
.is-label {
  @include makeLabel();
}
.content-separator {
	flex: 					1 1 0;
	border-left: 		2px dotted rgba($black, 0.24); 
	position: relative;
	&:before {
		content: "";
		position: absolute;
		width: 		$gutter*1.5;
		height: 	$gutter*1.5;
		background-color: rgba($black, 0.36);
		border: 0.143rem solid $white; /* 2px @ 14px */
		transform: translate(50%, -50%);
	}
}

header {
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.4);
	.content-row {
		@include makeRow($direction: row, $justify: space-between, $align: stretch);	
	}
	.header-logo, .header-menu {
		display: flex;
		flex-direction: row;
		justify-content: flex-start;
		flex-wrap: nowrap;
		align-items: center;
		padding-top: 0.75rem;
		padding-bottom: 0.75rem;
	}
	.header-logo {
		flex: 1 1 0;
		padding-left: 	$gutter/2;
		padding-right: 	$gutter/2;
		> h1 {
			font-family: 'Helvetica Neue', sans-serif;
			font-size: 1rem;
			margin: 0;
			a {
				color: #303030;
				text-decoration: none;
			}
			span {
				font-weight: 400;
			}
		}
	}
	.header-menu {
		flex: 1 1 0;
		padding-left: 1rem;
		padding-right: 1rem;
		display: flex;
		flex-direction: row;
		justify-content: flex-end;
		flex-wrap: nowrap;
		align-items: center;
	}
	@media screen and (min-width: 767px) {
		.header-logo {
			max-width: calc(100% / 3);
		}
		.header-menu {
			max-width: calc(100% / 7);
		}
	}
	@media screen and (min-width: 1024px) {
    flex-direction: row;
		.header-logo {
			flex-basis: 50%;
			max-width: 50%;
		}
		.header-menu {
			flex-basis: 50%;
			max-width: 50%;
		}
	}
}
.hero-row {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  height: 100vh;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
	.hero-block {
		flex: 1 1 0;
		padding-left: 1rem;
		padding-right: 1rem;
	}
	@media screen and (min-width: 1024px) {
    flex-direction: row;
		.hero-block {
			flex-basis: 100%;
			max-width: 100%;
		}
	}
}
/* Inner page */
@import 'components/bc-inner-nav';
.bc-inner-nav {
	@include makeCols(10);
	& li &-label {
		display: inline;
		font-size: 0.8rem;
		font-weight: 300;
		text-decoration: none;
		text-align: right;
		padding-right: $gutter/2;
		
	}
	& li &-icon {
		padding-left: $gutter/2;
		
	}
	& &-dropdown {
		font-size: 0.8rem;
		&.active {
			padding-top: 		$gutter/8;
			padding-bottom: $gutter/12;
			overflow: visible;
		}
		a {
			padding-top: 		$gutter/10;
			padding-bottom: $gutter/10;
			&.active {
				position: relative;
				&::before {
					content: "";
					position: absolute;
					left: -0.57rem;
					top: 50%;
					transform: translateY(-50%);
					border-width: 			0.285rem;
					border-color: 			transparent;
					border-style: 			solid;
					border-left-color: 	rgba($black, 0.8);
				}
			}
		}
	}
	li {
		&:hover, &:active, &:focus {
			> a:not(.bc-inner-nav-icon) {
				background-color: transparent;
			}
			> .bc-inner-nav-label {
				background-color: transparent;
			}		
		}
	}
	@media screen and (min-width: $desktop) {
		& &-label {
			font-size: 0.72rem;
		}
	}
}
/* Template Breadcrumbs */
@import 'components/bc-breadcrumbs';
/* -- Template Breadcrumbs -- */
.bc-breadcrumbs-links {
	&.bc-inner-nav {
		> li {
			width: 100%;
		}
	}
}
@media screen and (min-width: $tablet) {
	.bc-breadcrumbs-links {
		&.bc-inner-nav {
			.bc-inner-nav-label, .bc-inner-nav-icon {
				align-self: flex-end;
			}
			.bc-inner-nav-icon {
				display: none;
			}
			li .bc-inner-nav-dropdown {
				min-width: 0;
				height: auto;
				display: inline-flex;
				flex-direction: row;
				align-items: center;
				overflow: visible;
				> li {
					padding-right: $gutter/4; 
					a {
						padding-top: 0;
						padding-bottom: 0;
					}
				}
				a {
					&.active {
						&:before {
							top: auto;
							left: 50%;
							transform: translateX(-50%);
							bottom: -0.5rem;
							border-left-color: $white;
							border-bottom-color: $black;	
						}
					}
				}
			}
		}
	}
}

/* Projects page */

@import 'components/bc-cards';
.ca-projects {
	@media screen and (min-width:  500px) {
		flex-direction: row;
		flex-wrap: wrap;
	}
}
.bc-card {
	@include makeCols($cols: 10);
	flex-basis: 100% ;
	max-width: 100% ;
	&--slide-up {
		.content-separator {
			margin-top: 		$gutter/2;
			margin-bottom: 	$gutter/2;
			margin-left: 		0.25rem;
			width: 					0.875rem;
			height: 					0.875rem;
			&:before {
				width: 		0.857rem;
				height: 	0.857rem;
				left: 		-1.81rem;
				top: 			50%;
				background-color: rgba($black, 0.36);;
				transform: translate(50%, -50%) rotate(45deg);
			}
		}
		.bc-card-link {
			.bc-card-link-text {
				color: $black;	
			}
			.svg-icon {	fill: $black; }
		}
	}
	@media screen and (min-width: 500px) {
		flex-basis: 50%;
		max-width: 	50%;
		.bc-card-content {
			.bc-card-title {
				font-size: 1rem;
			}
			.bc-card-subtitle, .bc-card-link {
				font-size: 0.8rem;
			}
			.bc-card-link {
				.svg-icon {
					max-height: 1rem;
					max-width: 	1rem;
				}	
			}
		}
		&--slide-up { 
			.content-separator {
				&::before {
					width: 		0.8rem;
					height: 	0.8rem;
					border-width: 0.48rem;	
				}
			}
		}
		&--plain-text {
			.bc-card-content {
				.bc-card-title {
					font-size: 1.75rem;
				}
			}
		}
	}
	@media screen and (min-width: 600px) {
		flex-basis: 33.333%;
		max-width: 	33.333%;
	}
	@media screen and (min-width: $tablet) {
		.bc-content {
			.bc-card-title {
				font-size: 1rem;
			}
			.bc-card-subtitle, .bc-card-link {
				font-size: 0.8rem;
			}
			.bc-card-link {
				.svg-icon {
					max-height: 1rem;
					max-width: 	1rem;
				}
			}
		}
		&--plain-text {
			.bc-card-content {
				.bc-card-title {
					font-size: 1.75rem;
				}
			}
		}
	}
	@media screen and (min-width: $desktop) {
		flex-basis: 25%;
		max-width: 	25%;
	}
	@media screen and (min-width: $med) {
		flex-basis: 20%;
		max-width: 	20%;
	}
	@media screen and (min-width: $laptop) {
		flex-basis: 20%;
		max-width: 	20%;
	}
	
	/* Profile cards */
	&.person-card {
		.bc-card-content {
			top: calc(100% - (#{$gutter-unit}rem) - (#{1 * 1.3}rem) - (#{0.8 * $gutter-unit}rem) - (#{$gutter-unit/8}rem));
			> a {
				padding-top: 		$gutter / 2;
				padding-bottom: $gutter / 2;
			}
		}
		&:hover {
			margin-top: 0;
			.bc-card-content {
				top: 0;	
				background-color: $white;
			}
		}
		.bc-card-img { 
			> img {
				max-width: 100%;
			}
			&.is-square {
				position: relative;
				overflow: hidden;
				> img {
					position: absolute;
					top: calc(50% - (#{$gutter-unit}rem) - (#{1 * 1.3}rem) - (#{0.8 * $gutter-unit}rem) - (#{$gutter-unit/8}rem));
					left: 50%;
					width: 100%;
					transform: translate(-50%, -50%);
					object-fit: cover;
				}
				padding-top: 100%;
			}	
		}
		@media screen and (min-width: 600px) {
			flex-basis: 50%;
			max-width: 	50%;
			order: 3;
			&:nth-of-type(1), &:nth-of-type(2), &:nth-of-type(3), &:nth-of-type(4)  {
				order: 1;
			}
		}
		@media screen and (min-width: $tablet) {
			flex-basis: 33.333%;
			max-width: 	33.333%;
			&:nth-of-type(1), &:nth-of-type(2), &:nth-of-type(3), &:nth-of-type(4)  {
				order: 3;
			}
			&:nth-of-type(1), &:nth-of-type(2)  {
				order: 1;
			}
		}
		@media screen and (min-width: $desktop) {
			flex-basis: 25%;
			max-width: 	25%;
			&:nth-of-type(3), &:nth-of-type(4) {
				order: 1;
			}
		}
		@media screen and (min-width: $large) {
			.bc-card-content {
				.bc-card-title {
					font-size: 1.25rem;
				}
				.bc-card-subtitle, .bc-card-link {
					font-size: 1rem;
				}
				.bc-card-link {
					.svg-icon {
						max-height: 1.25rem;
						max-width: 	1.25rem; 
					}
				}
			}
			&--plain-text {
				.bc-card-content {
					.bc-card-title {
						font-size: 2rem;
					}
				}
			}
		}
		
	}//.person-card
	/* Plain text card */
}//.bc-card
.ca-profiles {
	.bc-card--plain-text {
		@media screen and (min-width: 600px) {
			flex-basis: 50%;
			max-width: 	50%;
			order: 2;
		}
		@media screen and (min-width: $tablet) {
			flex-basis: 33.333%;
			max-width: 	33.333%;
		}
		@media screen and (min-width: $desktop) {
			flex-basis: 25%;
			max-width: 	25%;
			order: 3;
		}
	}
}
/* Full profile pages */
.ca-profile-projects {
	padding-top: 0;
	box-shadow: inset 0 4px 4px -4px $shade-mid, inset 0 -4px 4px -4px $shade-mid;
}
.person-qualifications {
		td { 
			&:first-child {
				font-weight: 500;
				padding-right: $gutter;
			}
		}
}

@import 'components/two-col-feature'; 
/** Two-col feature - has an image and a text block **/
.two-col-feature {
	align-items: flex-start; 
	.short-col, .long-col {
		padding: 0 $gutter/2;
	}
	figure {
		position: static;
		padding-top: 0;
		img { 
			position: static;
			transform: none;
			width: 100%; 
		}
		max-width: 28rem;
	}
	figcaption {
		@include makeFlexbox($direction: row, $align: stretch);
		margin-bottom: $gutter*1.5;
		padding-top: 		$gutter;
		padding-bottom: $gutter;
		.svg-icon {
			fill: $brand-red;
			max-width: 	1.75rem;
			min-width: 	1.5rem;
			max-height: 1.75rem;
			min-height: 1.0rem;
			margin-top: 0.0rem;
			margin-right: $gutter/2;
		}
		> p {
			font-family: 	Georgia, serif;
			font-style: 	italic; 
			font-size: 1.15rem;
			line-height: 1.4;
			margin-top: 0;
			margin-left: $gutter/2;
		}
		position: relative;
		&:before {
			content: "";
			position: absolute;
			bottom: 0;
			left: 0;
			height: 0.21428571428571rem ;/*  3px @ 14px base font-size */ 
			width: 16%;
			background-color: $brand-red;
		}
	}
	.content-subtitle { color: $brand-red; }
	.content-separator-wrap {
		display: none;
	}
	.content-separator { 
		width: auto;
		&:before { 
			left: 				-3.25rem;
			top: 					1.3rem;
			border-width: 0.5rem;
		}
	}
	@media screen and (min-width: $tablet) {
		flex-direction: row;
		.short-col {
			flex-basis: 40%;
			max-width: 	40%;
		}
		.long-col {
			flex-basis: 60%;
			max-width: 	60%;
		}
	}
	@media screen and (min-width: $med) {
		.long-col {
			flex-basis: 	50% ;
			max-width: 		50% ;
			margin-left: 	2.5%;
		}
		.content-separator-wrap {
			position: absolute;
			top: $gutter;
			right: $gutter/2;
			width: 5%;
			height: 100%;
			display: flex;
			justify-content: center;
			@include makeCols(0.5);
			margin-left: 4.65%;
		}
		.content-separator {
			width: 0px;
			flex-grow: 0;
		}
	}
}// .two-col-feature 
/** -- Two-col feature - has an image and a text block -- **/
/** Back links at the bottom of inner pages **/
.page-bottom-links {
	.bc-content-row {
		flex-direction: row;
		align-items: flex-end;
		justify-content: space-between;
		padding-bottom: $gutter/2; 
	}
	.is-label {
		font-size: 0.8rem;
	}
	& &-back, & &-top {
		padding-left: 	$gutter/2;
		padding-right: 	$gutter/2;
	}
	& &-back {
		@include makeFlexbox($direction: row, $align: stretch);
		.icon-wrap, a {
			display: inline-flex;
			align-items: center;
			padding: $gutter/4 $gutter/4;
		}
		.icon-wrap {
			background-color: $shade-mid;
			margin-right: $gutter/8;
		}
		.svg-icon {
			fill: 			$white;
			max-width: 	1.5rem;
			max-height: 1.5rem;
		}
		a {
			padding-left: 	$gutter/2;
			padding-right: 	$gutter/2;
			background-color: $shade-lightest;
			transition: background-color $buttonTransition $easing;
			&:hover, &:focus, &:active {
				background-color: $shade-mid;
				color: $white;
			}
		}
	}
	& &-top {
		position: relative;
		min-height: 5.25rem;
		min-width: 	5.25rem;
		padding: 0; 
		padding-top: 0.32rem;
		align-self: flex-end;
		&:hover, &:active, &:focus {
			a {
				color: $white;	
			}
			.svg-icon {
				fill: $shade-mid;
			}
		}
		&:hover {
			cursor: pointer;
		}
		.svg-icon {
			position: absolute;
			width:  100%;
			height: 100%;
			z-index: 0;
			fill: 			$shade-lightest;
			@include makeButtonTransition(fill);
		}
		a {
			text-decoration: underline;
			display: inline-flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			padding-top: $gutter / 2;
			position: absolute;
			width:  100%;
			height: 100%;
			z-index: 0;
			
		}
	}
	&.single-link {
		.bc-content-row {
			justify-content: flex-end;
		}
	}
	@media screen and (min-width: $desktop) {
		.bc-content-row {
			padding-top: $gutter;
		}
		& &-top {
			margin-right: 8%;
		}
	}
}
/** -- Back links at the bottom of inner pages -- **/
@import 'components/colour-schemes'; 
@import 'structure/footer'; 
