/* Big Cat Cards */ 
.bc-cards-heading {
	flex: 1 1 100;
	width: 100%;
	padding: 0 $gutter/2 $gutter; 
	h1, h2, h3, h4, h5 { margin-top: 0; }
}
.bc-card {
	@include makeFlexbox($direction: column, $align: stretch); 
	margin-bottom: $gutter;
	a {
		display: block;
		text-decoration: none;
	}
	& &-img { 
		> img {
			max-width: 100%;
		}
		&.is-square {
			position: relative;
			overflow: hidden;
			> img {
				position: absolute;
				top: 50%;
				left: 50%;
				width: 100%;
				transform: translate(-50%, -50%);
				object-fit: cover;
			}
			padding-top: 100%;
		}
	}
	& &-content {
		.bc-card-title { 
			font-size: 1.25rem;
			font-weight: 400;
			margin-top: 0; 
			margin-bottom: $gutter/4;
			text-decoration: none;
		}
		.bc-card-subtitle {
			font-size: 1rem;
			font-weight: 300;
			margin-top: 0;
		}
		> a {
			@include makeFlexbox($direction: column, $justify: space-between, $align: stretch);
			height: 100%;
			padding: $gutter $gutter/2;
		}
	}
	.bc-card-info, .bc-card-link {
		flex: 0 1 auto;
	}
	
	&--slide-up {
		position: relative;
		overflow: hidden;
		.bc-card-img {
			z-index: 0;
		}
		.bc-card-content {
			position: absolute;
			z-index: 10;
			top: 100%;
			bottom: 0;
			left: $gutter/2;
			height: 100%;
			width: calc(100% - #{$gutter});
			background-color: $white;
			transition: top $menuSlideTransition $easing;	
		}
		.bc-card-link {
			@include makeFlexbox($direction: row, $align: center);
			.bc-card-link-text {
				flex: 0 1 auto;
				padding-right: $gutter/2;
				color: $bc-blue;
			}
			.svg-icon {
				flex: 0 1 auto;
				max-height: 1.25rem;
				max-width: 	1.25rem;
				fill: $bc-blue;
			}
		}
		&:hover, &:focus {
			margin-top: 0;
			.bc-card-content {
				top: 0;	
				background-color: $white;
			}
			.bc-card-link-text {
				text-decoration: underline;
			}
		}
	}// .bc-card--slide-up 
	/* We are real card */
	&--plain-text {
		.bc-card-content {
			height: 100%;
			background-color: $shade-light; 
			transition: background-color $menuSlideTransition $easing;
			> a {
				justify-content: center;
				align-items: center;
				padding: 0; 
			}
			.bc-card-title {
				text-align: center;
				font-size: 2rem;
				font-weight: 300;
				font-style: italic;
			}
			.svg-icon {
				max-width: 	3rem;
				max-height: 3rem;
				fill: $white;
			}
		}
		&.is-square {
			.bc-card-content {
				@include isSquare;
				> a {
					position: absolute;
					top: 0;
					left: 0;
					bottom: 0;
					right: 0;
				}
			}
		}
		&:hover, &:focus, &:active {
			.bc-card-content {
				background-color: $shade-mid;
				.bc-card-content {
					.bc-card-title {
						text-decoration: underline;
					}
				}	
			}
		}
	}// .bc-card--plain-text
}// .bc-card 
.bc-content-row {
	&.bc-cards-row {
		padding-top: 		$gutter*1.5;
		padding-bottom: $gutter*2;
		flex-direction: row;
		flex-wrap: wrap;
	}
}
.bc-cards-row--full-bleed {
	padding-left: $gutter;
	padding-right: $gutter;
	.bc-cards-heading {
		padding-left:  0;
		padding-right: 0;
	}
	.bc-card {
		padding-left: 	0;
		padding-right: 	0;
		margin-bottom: 0;
	}
	.bc-card-content {
		width: 100%;
		left: 0;
	}
}

