/** Branch colour schemes **/
.brand-yellow-scheme {
	.bc-breadcrumbs {
		.bc-breadcrumbs-links {
			&::before {	background-color: $brand-yellow;	}
		}
	}
	.bc-card {
		&--slide-up {
			.content-separator { 
				&:before {	background-color: $brand-yellow;	}
			}
		}
		&--plain-text {
			.bc-card-content {
				background-color: $brand-yellow;
				color: $black;
				.svg-icon {
					fill: $white;
				}
				&:hover, &:focus, &:active {
					background-color: darken($brand-yellow, 16%);
				}
			}
		}
	}
	.two-col-feature {
		.content-subtitle {
			color: $black;
		}
		figcaption {
			&:before {
				background-color: $black;
			}
			.svg-icon { fill: $black; }
		}
	}
	.page-bottom-links { 
		.page-bottom-links-back {
			.icon-wrap {
				background-color: $brand-yellow;
			}
			.svg-icon {
				fill :$black;
			}
			a {
				color: $black;
				&:hover, &:focus, &:active {
					background-color: rgba($brand-yellow, 0.8);
					color: $black;
				}
			}
		}
		.page-bottom-links-top {
			&:hover, &:active, &:focus {
				a { color: $black ; }
				.svg-icon {
					fill: rgba($brand-yellow, 0.8);
				}
			}
		}
	}
}//.brand-yellow-scheme
.brand-red-scheme {
	.bc-breadcrumbs {
		.bc-breadcrumbs-links {
			&::before { background-color: $brand-red;	 }
		}
	}
	.content-separator { 
		&:before {	background-color: $brand-red;	}
	}
	.bc-card {	
		&.person-card {
			.bc-card-content {
				.bc-card-subtitle {	color: $brand-red; }	
			}
		}
		&--plain-text {
			.bc-card-content {
				background-color: $brand-red;
				color: $white;
				&:hover, &:focus, &:active {
					background-color: darken($brand-red, 8%); 
				}
			}
		}
	}
	.two-col-feature {
		.content-subtitle {
			color: $brand-red;
		}
		figcaption {
			&:before {
				background-color: $brand-red;
			}
			.svg-icon { fill: $brand-red; }
		}
	}
	.page-bottom-links { 
		.page-bottom-links-back {
			.icon-wrap {
				background-color: $brand-red;
			}
			a {
				&:hover, &:focus, &:active {
					background-color: rgba($brand-red, 0.8); 
				}
			}
		}
		.page-bottom-links-top {
			&:hover, &:active, &:focus {
				.svg-icon {
					fill: rgba($brand-red, 0.8);
				}
			}
		}
	}
}//.brand-yellow-scheme
.brand-blue-scheme {
	.bc-breadcrumbs {
		.bc-breadcrumbs-links {
			&::before {	background-color: $brand-blue;	}
		}
	}
	.bc-card {
		&--slide-up {
			.content-separator { 
				&:before {	background-color: $brand-blue;	}
			}
		}
		&.person-card {
			.bc-card-content {
				.bc-card-subtitle {	color: $brand-blue; }	
			}
		}
		&--plain-text {
			.bc-card-content {
				background-color: $brand-blue;
				color: $white;
				&:hover, &:focus, &:active {
					background-color: darken($brand-blue, 8%);
				}	
			}
		}
	}// .bc-card
	.two-col-feature {
		.content-subtitle {
			color: $brand-blue;
		}
		figcaption {
			&:before {
				background-color: $brand-blue;
			}
			.svg-icon { fill: $brand-blue; }
		}
	}// .two-col-feature
	.page-bottom-links { 
		.page-bottom-links-back {
			.icon-wrap {
				background-color: $brand-blue;
			}
			a {
				&:hover, &:focus, &:active {
					background-color: rgba($brand-blue, 0.8); 
				}
			}
		}
		.page-bottom-links-top {
			&:hover, &:active, &:focus {
				.svg-icon {
					fill: rgba($brand-blue, 0.8);
				}
			}
		}
	}// .page-bottom-links
}//.brand-blue-scheme
/** -- Branch colour schemes -- **/