$base-unit: 		4;

/* Grid units */
$gutter: 				1.42857142857143rem;
$gridColsCount: 10;

/* Color swatches */
$brand-primary: #00f;
$brand-red: 		#f00;
$brand-yellow: 	#ff0;
$black: 				#101010;
$white: 				#fff;
$text: 					#303030;

/* Breakpoints*/
$tablet: 				767px;
$desktop: 			1024px;
$med: 					1100px;
$laptop:				1366px;
$large: 				1400px;
$x-large: 			1600px;
$xx-large: 			1920px;

/* Animations */
$menuSlideTransition: 240ms;
$buttonTransition: 		320ms;
$easing: 							ease-out;